// set proxy settings
; proxy = http://proxy.<somesite>.<domain>:<port>/
; https-proxy = http://proxy.<somesite>.<domain>:80
// for example:
; proxy = http://proxy.msnet.dummysite.com:80/
; https-proxy = http://proxy.msnet.dummysite.com:80
proxy = http://proxy.msnet.railb.be:80/
https-proxy = http://proxy.msnet.railb.be:80

// set internal registery server to connect to npm through the proxy
; registry = http://proget/npm/npm

// note: use only one of the 2 options, both options don't work together