/* GLOBAL SETTINGS */
$customColor: #00BCF0;
$black:#000000;
$white: #FFFFFF;
$font: "Playfair Display", Georgia, "Times New Roman", serif;
$theme-colors: (
  primary: #84bcf0
);

/* NAV */
$nav-bgcolor: #84bcf0;

/* BORDER */
$border-color: #e5e5e5;

/* FOOTER */
$footer-bgcolor: #f9f9f9;
$footer-color: #999999;

/* BUTTONS */
$buttonPrimary: rgba(0, 188, 240, 0.055);